/*============= TEXT =============*/
body, h5, p, th, label, span, li, div {
  font-family: 'Outfit', sans-serif;
}

/*============= DATATABLE ENTRIES MENU =============*/
.row {
  position: relative;
}

#example_length {
  position: absolute;
  bottom: 0px;
}

/*============= NAVIGATION =============*/
.navbar-brand img {
  height: 4rem;
}

.navbar {
  font-size:: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  box-shadow: 0 .5rem .5rem rbga(0,0,0,.5);
  z-index: 1;
}

#nav-container {
  border-bottom: 1px dashed red;
}

.nav-item {
  padding: .2rem;
  font-family: 'Outfit', sans-serif;
  font-size: 15pt;
  color: black;
}

.nav-link.active,
.nav-link:hover {
  color: red!important;
}

/*============= ADDRESS SUBMISSION =============*/
#submitButton {
  margin-left: 5px;
}

/*============= OCEAN TEMPERATURE DISPLAY =============*/
#oceanTempSpan {
  float: right;
  display: flex;
  align-items: center;
  color: #0882CC;
  font-size: 18px;
}

#oceanTempImg {
  margin-left: 5px;
}

#oceanTempVal {
  font-weight: bold;
  margin-left: 5px;
}

/*============= DROPDOWN FILTER =============*/
#categoryFilter {
  display: inline;
  width: 150px;
  height: 34px;
  font-size: 10.5pt;
  margin-top: 10px;
}

#categoryFilterLabel {
  margin-left: 15px;
}

/*============= USER INPUT AREA =============*/
#inlineFormInput {
  width: 18rem;
}

#radioButtons {
  margin-left: 2%;
}

/*===== IMAGES =====*/
#logo {
  width: 90%;
  height: auto;
}

.headerIcons {
  max-width: 3%;
  height: auto;
  margin-left: 2px;
}

.icon_images {
  max-width: 25%;
  height: auto;
  overflow: hidden;
}

.image-txt-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

#img_Beach-BirdsEye {
  max-width: 110%;
  height: auto;
  overflow: hidden;
}

/*============= SPACING =============*/
.top-buffer1 { margin-top:2%; }
.top-buffer2 { margin-top:4%; }

/*============= CREDITS =============*/
.aboutCredits {
  color: gray;
  font-size: 10pt;
}

/*============= FOOTER =============*/
footer {
  background-color: #3F3F3F;
  color: #D5D5D5;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*============= MEDIA QUERIES =============*/
/* Mobile Devices under 425px (lg) */
@media screen and (max-width: 425px) {
  body, h5, p, th, label, span, li, div {
    overflow: visible;
  }

/*============= MOBILE GUTTER FIX =============*/
.row, .container {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
